In [2]:
from utils import *
import pandas as pd
import numpy as np
import glob
from quica.measures.irr import *
from quica.dataset.dataset import IRRDataset
from quica.quica import Quica
pd.set_option('display.float_format', str)
np.random.seed(0)
pd.set_option('max_colwidth', 400)

import math

def trunc(num, digits):
    sp = str(num).split('.')
    return float('.'.join([sp[0], sp[1][:digits]]))

## Results 1

In [5]:
import pandas as pd
import io 

cs_results_1 = """
0:0,0.27,0.33,0.58,0.66
2:2,0.33,0.28,0.56,0.57
4:4,0.11,0.36,0.44,0.64
4:2/2:4,0.44,0.44,0.55,0.65
4:0/0:4,0.45,0.55,0.68,0.70
2:0/0:2,0.41,0.60,0.55,0.68
"""

df = pd.read_csv(io.StringIO(cs_results_1), sep=",", names = ['1', '2', '3', '4'])
df['avg_acc'] = df.mean(axis=1)
df['avg_acc'] = df['avg_acc'].apply(lambda x: trunc(x, 2))
df['bias'] = ['without', 'without', 'without', 'with', 'with', 'with']
df[['bias','1','2','3','4', 'avg_acc']]

            bias    1    2    3    4  avg_acc
0:0      without 0.27 0.33 0.58 0.66     0.46
2:2      without 0.33 0.28 0.56 0.57     0.43
4:4      without 0.11 0.36 0.44 0.64     0.38
4:2/2:4     with 0.44 0.44 0.55 0.65     0.52
4:0/0:4     with 0.45 0.55 0.68  0.7     0.59
2:0/0:2     with 0.41  0.6 0.55 0.68     0.56

In [7]:
np.mean(df['avg_acc'].tolist())

0.49

In [16]:
df['1_and_2_'] = df[['1','2']].mean(axis=1)
df['1_and_2_'] = df['1_and_2_'].apply(lambda x: trunc(x, 2))

df

           1    2    3    4  avg_acc     bias  1_and_2_
0:0     0.27 0.33 0.58 0.66     0.46  without       0.3
2:2     0.33 0.28 0.56 0.57     0.43  without       0.3
4:4     0.11 0.36 0.44 0.64     0.38  without      0.23
4:2/2:4 0.44 0.44 0.55 0.65     0.52     with      0.44
4:0/0:4 0.45 0.55 0.68  0.7     0.59     with       0.5
2:0/0:2 0.41  0.6 0.55 0.68     0.56     with       0.5

In [17]:
without_section_1_and_2 = trunc(np.mean(df.query("bias == 'without'")[['1', '2']].mean(axis=1).tolist()),2)
# without_section_1_and_2
without_section_3 = np.mean(df.query("bias == 'without'")[['3']].mean(axis=1).values.tolist())
# without_section_3
without_section_4 = trunc(np.mean(df.query("bias == 'without'")[['4']].mean(axis=1).values.tolist()), 2)
# without_section_4
with_section_1_and_2 = trunc(np.mean(df.query("bias == 'with'")[['1', '2']].mean(axis=1).values.tolist()),2)
# with_section_1_and_2
with_section_3= trunc(np.mean(df.query("bias == 'with'")[['3']].mean(axis=1).values.tolist()),2)
# with_section_3
with_section_4 = trunc(np.mean(df.query("bias == 'with'")[['4']].mean(axis=1).values.tolist()),2)
# with_section_4

In [18]:
cs_results_1 = f"""
1and2,{without_section_1_and_2},{with_section_1_and_2}
3,{without_section_3},{with_section_3}
4,{without_section_4},{with_section_4}
"""

df = pd.read_csv(io.StringIO(cs_results_1), names = ['without', 'with'],sep=",")
df['with_without'] = df.mean(axis=1).values.tolist()
df['with_without'] = df['with_without'].apply(lambda x: trunc(x,2))

df['delta_with'] = df['with'].diff()
df['delta_without'] = df['without'].diff()
# df['delta_with'] = df['delta_with'].apply(lambda x: trunc(x,2))
df['delta_with_without'] = df['with_without'].diff()
df['delta_with_without'] = df['delta_with_without'].apply(lambda x : round(x,2))
df['delta_with'] = df['delta_with'].apply(lambda x : round(x,2))
df['delta_without'] = df['delta_without'].apply(lambda x : round(x,2))

df['without'] = df['without'].apply(lambda x : round(x,2))



df[['without', 'delta_without', 'with', 'delta_with', 'with_without', 'delta_with_without']]

,without,delta_without,with,delta_with,with_without,delta_with_without
1and2,0.28,NaN,0.48,NaN,0.38,NaN
3,0.53,0.25,0.59,0.11,0.55,0.17
4,0.62,0.09,0.67,0.08,0.64,0.09

## Results  2

In [8]:
import pandas as pd
import io 

cs_results_1 = """
0:0,0.60,0.55,0.42,0.50
2:2,0.62,0.67,0.56,0.54
4:4,0.70,0.64,0.52,0.50
4:2/2:4,0.77,0.69,0.66,0.59
4:0/0:4,0.88,0.66,0.75,0.66
2:0/0:2,0.88,0.86,0.62,0.70
"""

df = pd.read_csv(io.StringIO(cs_results_1), sep=",", names = ['1', '2', '3', '4'])
df['avg_acc'] = df.mean(axis=1)
df['avg_acc'] = df['avg_acc'].apply(lambda x: trunc(x, 2))
df['bias'] = ['without', 'without', 'without', 'with', 'with', 'with']
df[['bias','1','2','3','4', 'avg_acc']]

            bias    1    2    3    4  avg_acc
0:0      without  0.6 0.55 0.42  0.5     0.51
2:2      without 0.62 0.67 0.56 0.54     0.59
4:4      without  0.7 0.64 0.52  0.5     0.59
4:2/2:4     with 0.77 0.69 0.66 0.59     0.67
4:0/0:4     with 0.88 0.66 0.75 0.66     0.73
2:0/0:2     with 0.88 0.86 0.62  0.7     0.76

In [9]:
np.mean(df['avg_acc'].tolist())

0.6416666666666666

In [24]:
df['3_and_4_'] = df[['3','4']].mean(axis=1)
df['3_and_4_'] = df['3_and_4_'].apply(lambda x: trunc(x, 2))

df

           1    2    3    4  avg_acc     bias  3_and_4_
0:0      0.6 0.55 0.42  0.5     0.51  without      0.45
2:2     0.62 0.67 0.56 0.54     0.59  without      0.55
4:4      0.7 0.64 0.52  0.5     0.59  without      0.51
4:2/2:4 0.77 0.69 0.66 0.59     0.67     with      0.62
4:0/0:4 0.88 0.66 0.75 0.66     0.73     with       0.7
2:0/0:2 0.88 0.86 0.62  0.7     0.76     with      0.65

In [25]:
without_section_3_and_4 = trunc(np.mean(df.query("bias == 'without'")[['3', '4']].mean(axis=1).tolist()),2)
# without_section_1_and_2
without_section_1 = np.mean(df.query("bias == 'without'")[['1']].mean(axis=1).values.tolist())
# without_section_3
without_section_2 = trunc(np.mean(df.query("bias == 'without'")[['2']].mean(axis=1).values.tolist()), 2)
# without_section_4
with_section_3_and_4 = trunc(np.mean(df.query("bias == 'with'")[['3', '4']].mean(axis=1).values.tolist()),2)
# with_section_1_and_2
with_section_1= trunc(np.mean(df.query("bias == 'with'")[['1']].mean(axis=1).values.tolist()),2)
# with_section_3
with_section_2 = trunc(np.mean(df.query("bias == 'with'")[['2']].mean(axis=1).values.tolist()),2)
# with_section_4

In [26]:
cs_results_1 = f"""
1,{without_section_1},{with_section_1}
2,{without_section_2},{with_section_2}
3and4,{without_section_3_and_4},{with_section_3_and_4}
"""

df = pd.read_csv(io.StringIO(cs_results_1), names = ['without', 'with'],sep=",")
df['with_without'] = df.mean(axis=1).values.tolist()
df['with_without'] = df['with_without'].apply(lambda x: trunc(x,2))

df['delta_with'] = df['with'].diff()
df['delta_without'] = df['without'].diff()
# df['delta_with'] = df['delta_with'].apply(lambda x: trunc(x,2))
df['delta_with_without'] = df['with_without'].diff()
df['delta_with_without'] = df['delta_with_without'].apply(lambda x : round(x,2))
df['delta_with'] = df['delta_with'].apply(lambda x : round(x,2))
df['delta_without'] = df['delta_without'].apply(lambda x : round(x,2))

df['without'] = df['without'].apply(lambda x : round(x,2))



df[['without', 'delta_without', 'with', 'delta_with', 'with_without', 'delta_with_without']]

,without,delta_without,with,delta_with,with_without,delta_with_without
1,0.64,NaN,0.84,NaN,0.74,NaN
2,0.62,-0.02,0.73,-0.11,0.67,-0.07
3and4,0.5,-0.12,0.66,-0.07,0.58,-0.09